<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'optimizacion/css/helados.css' %}">
<title>Helados La Nona</title>
</head>
<body>
    <nav id="navbarPrincipal" class="navbar navbar-expand-lg navbar-dark py-0 fixed-top">
        <a class="navbar-brand" href="#">LA NONA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Ver menu">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quienes somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    <section class="container-fluid px-0 contenido">
        <div class="row align-items-center ">
            <div class="col-no col-lg-6">
                <div class="headingGroup text-white text-center d-none d-lg-block">
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    <h1 class="display-2">HELADOS<span>/</span>LA<span>/</span>NONA</h1>
                    
                </div>
            </div>
            <div class="imagen-helado col-lg-6">
                <img src="{% static 'optimizacion/img/helado1.jpg' %}" class="img-fluid" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img src="{% static 'optimizacion/img/helado2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1 order-md-2">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <img src="{% static 'optimizacion/img/dana-devolk-5-RS_ScO3X4-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img src="{% static 'optimizacion/img/erwan-hesry-OlQ-NaEyVmQ-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1 order-md-2">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <img src="{% static 'optimizacion/img/heather-barnes-bqafVjHkcAQ-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img src="{% static 'optimizacion/img/irene-kredenets-tVs-nga-tpo-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1 order-md-2">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluider px-0 contenido">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <img src="{% static 'optimizacion/img/heather-barnes-bqafVjHkcAQ-unsplash.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white text-center order-1">
                <div class = "row justify-content-center">
                    <div class="col-10 col-lg-8 seccion-helado">
                        <h2>HELADOS LA NONA</h2>
                        <h3><i class="fas fa-ice-cream d-none d-lg-inline"></i></h3>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veritatis natus explicabo ullam dolores. Id alias repellat dolorem autem, ab possimus nostrum! Facilis beatae nostrum voluptatum odio placeat perspiciatis, soluta eos voluptatibus in libero labore doloremque? Eligendi possimus ex, atque quo sed necessitatibus quis sunt obcaecati, nam doloribus itaque dolorum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(function () {
            $(document).scroll(function () {
                var $nav = $("#navbarPrincipal");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    
</script>
</body>
</html>